$orange_main: #FF5500; // DO NOT REMOVE

$color_main: #707070;
$color_blue: #64C2C8;
$color_blue_2: #3BACC7;
$color_blue_dark: #006992;
$color_green: #25D366;
$color_yellow: #F2B825;
$color_white: #ffffff;
$color_grey: #E8E8E8;
$color_black: #000000;

$font_BC: 'BigCityGrotesquePro', sans-serif;
$font_BS: 'Black Space', sans-serif;

// New Design COLORS
$new_dark_blue: #1C2238;
$new_lightgreen: #9EEC3A;
$new_blue_hover: rgba(30, 114, 239, 0.64);
$new_blue_active: #1E72EF;
$new_red: #FB212A;
$new_green: #12B11A;

$color_whitesmoke: #F5F5F5;
$color_charcoal-grey: #414141;
$color_light-tan: #FFEEB1;