@import "variables";
@import "mixins";

.main-area {
	padding: 15px;
	box-sizing: border-box;

	* {
		box-sizing: border-box;

		&::before,
		&::after {
			box-sizing: border-box;
		}
	}

	.btn {
		border-radius: 4px;
		font-size: 15px;
		padding: 0 15px;
		background-color: #1e72ef;
		overflow: hidden;
		position: relative;
		font-weight: 500;
		min-width: 130px;
		color: $color_white;
		cursor: pointer;
		height: 40px;
		line-height: 40px;
		transition: .3s ease-in-out all;
		border: none;
		text-decoration: none;

		&:hover {
			background-color: $new_blue_hover;
		}
	}
}


.form-builder {
	width: 100%;
	padding: 70px 15px 15px;

	form {
		width: 100%;
	}

	h1 {
		font-size: 34px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 15px;
	}

	.btns-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 45px;
		justify-content: flex-end;

		& > *:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.fb-main {
	display: flex;
	flex-wrap: wrap;
	//gap: 60px 20px;

	& > *:not(:last-child) {
		margin-bottom: 60px;
	}
}

.fb-row {
	display: flex;
	align-items: flex-start;
	grid-gap: 10px 20px;

	&.title {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr max-content;
		grid-gap: 10px 20px;
	}

	&.files {
		margin-top: 10px;
		grid-gap: 10px;
		flex-wrap: wrap;
	}

	&.images {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		grid-gap: 10px;

		img {
			max-width: 273px;
			width: 100%;
			height: 175px;
			object-fit: cover;
		}

		&_small {
			grid-template-columns: repeat(auto-fill, 80px);

			img {
				max-width: 80px;
				height: 60px;
			}
		}
	}
}

.fb-col {
	display: grid;
	//flex-direction: column;
	//align-items: flex-start;
	//gap: 10px;
	grid-gap: 10px;

	&.images-small {
		img {
			height: 65px;
			max-width: 100px;
			object-fit: cover;
		}
	}
}

.fb-section {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	//flex-direction: column;
	//flex-wrap: wrap;
	grid-gap: 30px 20px;
	//gap: 30px 20px;
	//margin-right: -20px;

	&__title {
		font-size: 26px;
		font-weight: 600;
		margin-bottom: -20px;
		width: 100%;
		grid-column: 1 / -1;
	}

	//.fb-elem {
	//	margin-right: 20px;
	//
	//	&:not(:last-child) {
	//		margin-bottom: 30px;
	//	}
	//}

	&.full-width {
		grid-template-columns: 1fr;

		//.fb-elem {
		//	//width: 100%;
		//	grid-column: 1 / -1;
		//}
	}

	&.col-half-width {
		//flex-direction: column;
		grid-template-columns: 1fr;
		width: 50%;
	}
}

.fb-elem {
	//width: calc(50% - 10px);
	width: 100%;

	&.full {
		width: 100%;
	}

	h2 {
		font-size: 26px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
	}
}

.fb-input-area {
	&.red {
		h3 {
			color: #FF5261;
		}
	}

	h3 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	p {
		font-size: 18px;
	}
}

.fb-input {
	border: 1px solid #CCCCCC;
	padding: 8px;
	resize: none;
	border-radius: 5px;
	background-color: #FDFDFD;
	transition: 0.3s ease-in-out all;
	font-family: $font_BC;
	height: auto;
	line-height: initial;
	font-size: 15px;
	width: 100%;

	&.textarea {
		height: 125px;
	}

	&:focus {
		border-color: $new_blue_active;
	}
}

.custom-check-radio {
	cursor: pointer;

	span {
		font-size: 15px;
		display: flex;
		align-items: center;
		position: relative;
	}

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&[type='radio'] {
			& + span::before {
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 3px solid $color_white;
				margin-right: 12px;
				box-shadow: 0 0 0 2px $color_main;
			}

			&:checked + span::before {
				background-color: $new_blue_active;
				box-shadow: 0 0 0 2px $new_blue_active;
			}
		}

		&[type='checkbox'] {
			& + span::before {
				//content: "\e93d";
				//font-family: 'icomoon_new';
				//color: transparent;
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border: 2px solid $color_main;
				margin-right: 12px;
				//font-size: 9px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&:checked + span::before {
				//background-color: $new_blue_active;
				background: url("../images/panel/checkbox-check-white.svg") $new_blue_active no-repeat center/22px;
				border-color: $new_blue_active;
				//color: $color_white;
			}
		}
	}
}

.custom-file-upload {
	border: 1px dashed #CCCCCC;
	border-radius: 3px;
	height: 60px;
	padding: 8px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: 0.3s ease-in-out all;
	background-color: #FDFDFD;
	width: 115px;
	text-align: center;
	font-size: 14px;
	align-items: center;

	.fb-file {
		span {
			color: $new_blue_active;
		}
	}

	span {
		transition: 0.3s ease-in-out all;
	}

	input[type = 'file'] {
		display: none;
	}

	&:hover {
		border: 1px solid $new_blue_active;
	}
}

.uploaded-file {
	height: 60px;
	width: 80px;
	border-radius: 3px;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		border-radius: 3px;
		object-fit: cover;
	}

	.btn-remove {
		position: absolute;
		top: -8px;
		right: -8px;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		.btn-remove {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn-remove {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F4F5F6;
	transition: 0.3s ease-in-out all;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 1px;
		background-color: $color_charcoal-grey;
		width: 12px;
	}

	&::after {
		transform: rotate(45deg);
	}

	&::before {
		transform: rotate(-45deg);
	}
}

@include media(768) {
	.fb-section {
		grid-template-columns: 1fr;

		&.col-half-width {
			width: 100%;
		}
	}

	.fb-elem {
		width: 100%;
	}
}

@include media(550) {
	.form-builder {
		padding-top: 50px;

		.btns-list {
			justify-content: center;
			margin-bottom: -15px;
			margin-right: -15px;
			//gap: 15px;

			& > * {
				margin-right: 15px;

				&:not(:last-child) {
					margin-bottom: 15px;
					margin-right: 15px;
				}
			}
		}
	}

	.fb-row {
		&.title {
			grid-template-columns: 1fr;
		}
	}
}